<ion-header-bar class="bar-calm">
    <h1 class="title">Better Friends</h1>
</ion-header-bar>
<ion-view title="Better Friends">
    <ion-content class="padding text-center">
        <h1>Verify</h1>
        <p>We just sent you a message to</p>
        <p class="large">{{auth.pendingPhoneNumber | tel}}</p>
        <p>Click on the link in the message to confirm that this is your phone number.</p>
<!--        <p><a href="#">Resend the Message</a></p>
        <p><a href="#">Change Phone number</a></p>-->
        <a ng-show="auth.testConfirmCode" ng-click="UrlOpenHandler.handleUrl('betterfriends://verify?code={{auth.testConfirmCode}}')">Simulate Sms Click</a>
    </ion-content>
</ion-view>