/* Empty. Add your own CSS if you like */

.phoneType {
    color: #aaa;
    font-size: 14px;
}

.invite-item {
    padding: 5px;
    padding-left: 10px;
}

.invite-item h2 {
    margin: 0;
}

.invite-item p {
    margin: 0;
}

.placeholder-icon:last-child {
    padding-left: 6px;
    padding-right: 6px;
}

.large {
    font-size: 24px;
    font-weight: 500;
}

.icon-large {
    font-size: 70px;
}

.popover {
    height: 150px;
}

a {
    text-decoration: underline;
}
/* for side by side buttons */
.button-left {
    margin-right: 10px
}
.button-right {
    margin-left: 10px
}

.item-button-right .button-replacement {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 16px;
    min-width: 34px;
    min-height: 34px;
    font-size: 12px;
    line-height: 32px;
}

.item-input-noedit {
    font-size: 14px;
}