<!DOCTYPE html>
<html>
<head>
    <!-- removes auto clicking of phone numbers which messes up angularjs -->
    <meta name="format-detection" content="telephone=no">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>{{title}}</title>
    <!-- fav icon -->
    <link href="/modules/core/img/brand/favicon.ico" rel="shortcut icon" type="image/x-icon">

    <!--application css files-->
    {% for cssfile in cssFiles %}<link rel="stylesheet" href="{{cssfile}}">
    {% endfor %}

    <!--Application JavaScript Files-->
    {% for jsFile in jsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>
    {% endfor %}
</head>

<body ng-app="betterfriends">
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
        <ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">
            Back
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view></ion-nav-view>


{% if process.env.NODE_ENV === 'development' %}
<!--Livereload script rendered -->
<script type="text/javascript" src="http://localhost:35729/livereload.js"></script>

{% endif %}
</body>

</html>